<% content_for(:nav_classes){ 'nav--has-bottom' } %>

<div class="wrapper">
  <div class="base-half base-half--centered">

    <h1>Showcase</h1>
    <%= link_to "Request Invite", new_user_path %>
    <%= link_to "Login", login_path %>

  </div>
</div>
