<% content_for(:heading_classes){ 'nav--has-bottom' } %>
<% content_for :heading do %>
  <h1>New Project</h1>
<% end %>


<div class="wrapper">
  <div class="base-half base-half--centered">

    <%= render 'form' %>

  </div>
</div>
