$primary-color: #009D91;
$background-color: #EAEBED;
$font-color: #4D4D4D;
$susy: (
  columns: 12,
  gutters: .25,
  gutter-position: inside
);
$ipads: 768px;
$desktops: 1224px;
$large-screens: 1824px;

