// This worked better than expected 8-)
.body--directory {
  background: linear-gradient(to right, 
                              rgba(234,235,237,1) 0%, 
                              rgba(234,235,237,1) 62%, 
                              rgba(0,157,144,1) 63%, 
                              rgba(0,157,144,1) 100%);
}

.directory {
}

.directory-main {
  @include span(8 of 12);
}

.directory-sidebar {
  @include span(4 of 12);
  h1, h2, h3, h4, ul, li, p, a, a:visited { color: white; }
  a, a:visited, a:hover { text-decoration: none; }
  a:hover { font-weight: bold; color: white; }
  
  ul { margin: 0; padding: 0; } 
  li { 
    list-style: none;
    overflow: hidden;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  small { display: block; font-size: 1.4rem; line-height: 1; } 
}

.directory-gravatar {
  float: left; 
  margin-right: 2rem;
}
